* {
  margin: 0;
  padding: 0;
}

/* Add this to your CSS */
.chat-bubble {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #e0e0e0;
  /* Set the background color of the chat bubble */
}

.hbtn {
  position: relative;
  z-index: 999999;
}
.hBtn{
  position: relative;
  z-index: 9999999;
}

@media (max-width: 768px) {
  .landing-page-image {
    max-height: 30em;
    /* Adjust the height as needed */
  }

  .imageCnt {
    margin-top: -4em;
  }

  .heroSct {
    margin-top: 4em;
  }

  .emojiBox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }
 
}
